{{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}

<div class="page">
    {{!-- <header class="header">
        <button class="button">
            <img width="24px" height="24px" src="/svg/header__back.svg">
        </button>
        <button class="button">
            <img width="24px" height="24px" src="/img/header__avatar.png">
        </button>
    </header> --}}

    {{!-- <h1 class="title">Коммьюніті</h1> --}}

    {{!-- <main class="tab__list">
        <div class="tabs">
            <button class="tab-button inactive-tab">
                База знань
            </button>
            <button class="tab-button active-tab">Інформація</button>
        </div>

        <div class="tab-content">
            <img width="100%" src="/img/pic1.png">
            <h2>Що таке база знань?</h2>
            <p>База знаний — база данных, содержащая правила вывода и информацию о человеческом опыте и знаниях в
                некоторой предметной
                области. В самообучающихся системах база знаний также содержит информацию, являющуюся результатом
                решения предыдущих
                задач.</p>
        </div>
        <button class="orange">
            Перейти до ком'юніті у Телеграм
        </button>


    </main> --}}
</div>


{{!
Цей код містить лише те, що буде виводитись в

<body>
    Адже наш layout/default.hbs має вже структуру HTML
    }}